body {
	margin: 0;
	padding: 0;
}

label {
	display: block;
	margin-top: 10px;
}

input, select {
	width: 100px;
}

footer {
	background-color: #34b67d;
}

.main_container {
	max-width: 800px;
	margin: 0 auto;
}

.login_page .main_container {
	background-color: #0e6552;
}
